.dash-container {
    max-width: 900px ;
    display: block;
    margin: auto;
    .input-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        .input-text{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-top: 20px;
          padding-bottom: 20px;
          .input-title {
            width: 40%;
            background: #f3f3f3;
            border: 0px solid green;
            padding: 12px;
            border-radius: 4px;
            color: gray;
            font-size: 14px;
            margin-bottom: 12px;
            box-sizing: border-box;
            outline: none;
          }
          .input-content {
            width: 40%;
            border: 0px solid green;
            background: #f3f3f3;
            border-radius: 4px;
            box-sizing: border-box;
            padding: 12px;
            min-height: 200px;
            margin-bottom: 16px;
            font-size: 14px;
            color: grey;
            outline: none;
          }
        }
        .input-picture{
          height: 222px;
          width: 300px;
          .img-holder{
            width: 155px;
            height: 155px;
            border: 3px solid #00000066;
            border-radius: 50%;
            margin-bottom: 1rem;
            .img{
              width: 150px;
              height: 150px;
              border-radius: 50%;
            }
          }
          .input-file {
            color: transparent;
            .input-file::-webkit-file-upload-button {
              visibility: hidden;
            }
            .input-file::before {
              content: 'Select some files';
              color: black;
              display: inline-block;
              background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
              border: 1px solid #999;
              border-radius: 3px;
              padding: 5px 8px;
              outline: none;
              white-space: nowrap;
              -webkit-user-select: none;
              cursor: pointer;
              text-shadow: 1px 1px #fff;
              font-weight: 700;
              font-size: 10pt;
              .input-file:hover::before {
                border-color: black;
            }
          }
          .input-file:active {
            outline: 0;
          }
          .input-file:active::before {
            background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
          }
          }
        }
        
        .save-btn {
            padding: 12px 50px;
            border-radius: 4px;
            background: white;
            border: 2px solid green;
            color: green;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            outline: none;
            &.cancel{
                border: 2px solid orange;
                color: orange; 
            }
        }
        .action-wrapper {
            display: flex;
            justify-content: space-between;
            width: 40%;
        }
    }
    //note
        .card-content {
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            padding:16px;
            box-shadow: 4px 3px 9px rgba(0, 0, 0, 0.1) ;
            margin-bottom: 16px;
            transition: all ease 0.35s;
            position: relative;
            &:hover{
                cursor: pointer;
                background: rgba(0, 0, 0, 0.1);
                transform: translate(-2px);
            }
            p{
                margin: 0px;
            }
            .title {
                font-size: 24px;
                font-weight: bold;
            }
            .date {
                font-size: 12px;
            }
            .content {
                margin-top: 20px;
                font-size: 14px;
            }
            .delete-btn {
                width: 30px;
                height: 30px;
                background: red;
                border-radius: 30px;
                display: flex;
                justify-content: center;
                font-weight: bold;
                color: white;
                position: absolute;
                top: -15px;
                right: -15px;
                &:hover {
                    cursor: pointer;
                }
            }
        }

        //creator
        .card-creator {
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          height: 300px;
          width: 300px;
          padding: 16px;
          box-shadow: 4px 3px 9px rgba(0, 0, 0, 0.1);
          margin: 16px;
          transition: all ease 0.35s;
          position: relative;
          display: inline-grid;
          &:hover{
              cursor: pointer;
              background: rgba(0, 0, 0, 0.1);
              transform: translate(-2px);
          }
          p{
              margin: 0px;
          }
          .img-holder{
            width: 155px;
            height: 155px;
            border: 3px solid #00000066;
            border-radius: 50%;
            margin-left: 55px;
            .img{
              width: 150px;
              height: 150px;
              border-radius: 50%;
            }
          }
          .title {
              font-size: 24px;
              font-weight: bold;
          }
          .date {
              font-size: 12px;
          }
          .content {
              margin-top: 20px;
              font-size: 14px;
          }
          .delete-btn {
              width: 30px;
              height: 30px;
              background: red;
              border-radius: 30px;
              display: flex;
              justify-content: center;
              font-weight: bold;
              color: white;
              position: absolute;
              top: -15px;
              right: -15px;
              &:hover {
                  cursor: pointer;
              }
          }
      }

        body.react-confirm-alert-body-element {
            overflow: hidden;
          }
          
          .react-confirm-alert-blur {
            filter: url(#gaussian-blur);
            filter: blur(2px);
            -webkit-filter: blur(2px);
          }
          
          .react-confirm-alert-overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 99;
            background: rgba(255, 255, 255, 0.9);
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: center;
            -ms-align-items: center;
            align-items: center;
            opacity: 0;
            -webkit-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
            -moz-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
            -o-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
            animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
          }
          
          .react-confirm-alert-body {
            font-family: Arial, Helvetica, sans-serif;
            width: 400px;
            padding: 30px;
            text-align: left;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
            color: #666;
          }
          
          .react-confirm-alert-svg {
            position: absolute;
            top: 0;
            left: 0;
          }
          
          .react-confirm-alert-body > h1 {
            margin-top: 0;
          }
          
          .react-confirm-alert-body > h3 {
            margin: 0;
            font-size: 16px;
          }
          
          .react-confirm-alert-button-group {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: flex-start;
            margin-top: 20px;
          }
          
          .react-confirm-alert-button-group > button {
            outline: none;
            background: #333;
            border: none;
            display: inline-block;
            padding: 6px 18px;
            color: #eee;
            margin-right: 10px;
            border-radius: 5px;
            font-size: 12px;
            cursor: pointer;
          }
          
          @-webkit-keyframes react-confirm-alert-fadeIn {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
          
          @-moz-keyframes react-confirm-alert-fadeIn {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
          
          @-o-keyframes react-confirm-alert-fadeIn {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
          
          @keyframes react-confirm-alert-fadeIn {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
}